[MASTER]
disable=C0111,C0114,C0115

[MESSAGES CONTROL]
disable=C0111,C0114,C0115

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no 